@font-face {
    src: url('font/Creattion Demo.otf');
    font-family: creattion;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    position: relative
}


.sig {
    font-family: creattion;
}